.navbar{
  margin-bottom:0;
  border-radius:0;
}
.navBuffer
{
  height:25px;
}
.noMargin{
  margin:0px;
}
.alignLeft{
  float: left;
}
.alignRight{
  float: right;
}
.brandSize{
    font-size:x-large;
}
.aboutPic{
    width: 35%;
}
.aboutMe{
    width: 20%;
}
.carousel-inner{
  margin: auto;
}